/* style.css */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
background:
radial-gradient(circle at top,#0f2027,#000),
linear-gradient(45deg,#000,#001);
background-blend-mode:overlay;
color:white;
min-height:100vh;
padding-top:70px;
}

.page{
width:100%;
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:20px;
}

.hidden{
display:none;
}

.box{
width:100%;
max-width:420px;
padding:22px;
border-radius:24px;
background:rgba(255,255,255,0.06);
backdrop-filter:blur(15px);
border:1px solid rgba(255,255,255,0.1);
box-shadow:0 0 20px rgba(0,234,255,.2);
}

h1,h2{
color:#00eaff;
margin-bottom:16px;
text-shadow:0 0 10px #00eaff;
}

input,select,button{
width:100%;
padding:15px;
margin:10px 0;
border:none;
border-radius:16px;
font-size:16px;
}

input,select{
background:#111;
color:white;
}

button{
background:linear-gradient(45deg,#00eaff,#0077ff);
font-weight:bold;
color:black;
}

.topbar{
position:fixed;
top:0;
left:0;
right:0;
height:65px;
background:rgba(0,0,0,.8);
display:flex;
align-items:center;
padding:0 15px;
backdrop-filter:blur(12px);
}

#menuBtn{
width:auto;
padding:10px 16px;
margin-right:14px;
}

.sidebar{
position:fixed;
top:0;
left:0;
width:240px;
height:100%;
padding:20px;
background:#000;
z-index:999;
}

.sidebar button{
margin-bottom:10px;
}
